<!doctype html>
<html lang="pt-pt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>TODO - Registos de tarefas</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="flex flex-col items-center bg-gray-300 py-2">
            <h1 class="text-4xl font-black">Adicionar nova tarefa</h1>
        </div>
        <div class="flex flex-col items-center mt-12 mb-10">
            <form action="/create" method="POST">
                <label class="relative">
                    <input
                        type="text"
                        name="description"
                        required
                        class="px-3 py-2 test-lg border-2 border-gray-400 rounded-full hover:border-gray-500"
                    />
                    <span
                        class="absolute bottom-6 left-5 text-xs px-2 uppercase transition duration-200 input-text bg-white"
                        >Escreve a tarefa</span
                    >
                </label>
                <button
                    type="submit"
                    class="px-3 py-2 bg-sky-500 rounded-full text-white font-medium"
                >
                    Criar Tarefa
                </button>
            </form>
        </div>
        <div class="flex flex-col items-center mb-3">
            <p class="text-xs">Para atualizar selecione a tarefa.</p>
        </div>
        <div class="flex flex-col items-center">
            <h2 class="font-semibold text-lg">Lista de Tarefas</h2>
        </div>
        <div class="container">
            <table class="table-auto border-separate border border-slate-500">
                <tbody>
                    <tr>
                        <td>
                            {% for task in tasks %}
                            <form
                                action="/update/{{ task.id }}"
                                method="POST"
                                style="display: inline"
                            >
                                <input
                                    type="text"
                                    name="description"
                                    value="{{ task.description }}"
                                />
                            </form>
                            <form
                                action="/delete/{{ task.id }}"
                                method="POST"
                                style="display: inline"
                            ></form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Atualizar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Eliminar</button>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
